ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
}

.ShuffleList li{
  transition: all 0.9s ease-out;;
}

a {
  display: block;
  width: 120px;
  height: 120px;
  line-height: 123px;
  margin: 20px;
  border-radius: 100%;
  border: 5px solid #35495e;
  background: lightseagreen;
  color: #000;
  transition: color 1s ease-in-out;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  transform: scale(1);
  transition: all .25s ease-in-out;
}

a:hover {
  transform: scale(1.2);
}

a.active {
  color: yellow;
}